
/*start post-area*/
.post-area .posts-list {
	float:left;
	width:272px;
        padding: 0;
        margin: 0;
}
.post-area .posts-list li {
	vertical-align:top;
	width: 100%;
	overflow:hidden;
	height: 77px;
	margin:0 0 8px;
	position:relative;
}
.post-area .posts-list .post-img-holder {
	float:left;
	width:77px;
	position:relative;
	cursor:pointer;
}
.post-area .posts-list .post-img-holder img {
        float:left;
	border:1px solid #c8c8c8;
        border-right: none;
        background: #c8c8c8;
        }
.post-area .posts-list .text {
	float:right;
	line-height:15px;
	padding:4px 10px 0 10px;
	width:174px;
        height: 71px;
        background: #fff;
	border:1px solid #c8c8c8;
        border-left: none;
}
.post-area .posts-list a.over-link {
    height: 77px;
    width: 272px;
}

a.over-link, a.over-link:active, a.over-link:visited, a.over-link:link {
    position: absolute;
    left:0;
    top: 0;
    height: 8px;
    width: 8px;
    text-indent: -9999px;
    overflow: hidden;
    background: none;
}


/*end post-area*/
